* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Top Nav */
#nav-1 {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

#nav-1 > div {
  display: flex;
  align-items: center;
}

#nav-1 img {
  width: 15px;
  margin-right: 7px;
}

/* second Nav */
#nav-2 {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;
  background-color: #1a1a1a;
  color: white;
  font-weight: 500;
  font-size: 18px;
}

#nav-2 > div:nth-child(2) {
  color: goldenrod;
}

#nav-2 > div:hover {
  cursor: pointer;
  color: goldenrod;
}

#nav-2 button {
  color: black;
  padding: 12px 20px;
  cursor: pointer;
}

#nav-2 span {
  color: goldenrod;
  font-size: 20px;
}
